<ul class="breadcrumb">
  <li>
    <%= link_to t('page.home'), hash_path(root_path),
                :class => 'scroll-top' %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= t('page.terms_and_conditions') %>
  </li>
</ul>

<div class="alert alert-info">
  These terms and conditions (the "Terms") govern your use of the akshi.com website (the "Website"). If you proceed to use this Website you are agreeing to and will be bound by these terms and conditions.
</div>

<div class="page-header">
  <h5>COURSE COPYRIGHT</h5>
</div>

<p>
  This material is copyrighted: No part of these material may be copied, photocopied or reproduced in any form or by any means without the permission in writing from The Course Provider. Violation of these laws will lead to prosecution.
</p>

<p>
  All trademarks, service marks, products or services are trademarks or registered trademarks of their respective holders and are acknowledged by the authors.
</p>

<div class="page-header">
  <h5>LIMITATION OF LIABILITY</h5>
</div>

<p>
  Every effort has been made to ensure complete and accurate information concerning the material presented in these courses. However, our training website or the course provider cannot be held legally responsible for any mistakes in printing or faulty instructions contained within this manual.
</p>

<p>
  The authors appreciate receiving notice of any errors or misprints. Information in this manual is subject to change without notice.
</p>

<p>
  Companies, names and data used in examples herein are fictitious unless otherwise noted.
</p>

<p>
  All materials supplied for training are designed to familiarise the user with the operation of software programs.
</p>

<p>
  There are no warranties, expressed or implied, including warranties of merchantability or fitness for a particular purpose, made with respect to the materials or any information provided to the user herein.
</p>

<p>
  Neither the author, publisher or our training website shall be liable for any direct, indirect, special, incidental or consequential damages arising out of the use or inability to use the contents of this manual.
</p>

<div class="page-header">
  <h5>REFUNDS POLICY</h5>
</div>

<p>
  Customer support must receive all requests for refunds, replacements, and adjustments via email or an online request within 7 days after purchase. Refunds, replacements, adjustments will be considered for:
</p>

<p>
  Accounts that have not been utilised whatsoever, therefore if you have already used your account then you will not be entitled to a refund.
  Technical problems resulting in you not being able to view courseware.
  Customer support must receive written notification of the problem and be given the opportunity to fix the problem in order for a refund, replacement or adjustment to be considered.
</p>

<p>
  Refunds/Replacements/Adjustments will NOT be considered for:
</p>

<ul>
  <li>
    Slow performance. The course material is designed to perform best at a 256kbps connection rate, or better. However, we have no control over Internet bandwidth, which can affect performance, causing brief delays in the download speeds for the courses and display of the HTML pages.
  </li>
  <li>
    Reduction in subscription duration or downgrading of course access.
  </li>
  <li>
    While we are happy to renew subscriptions, we do not offer refunds for accounts that have been partially used in any way.
  </li>
  <li>
    If the site is out of service for more than 8 hours consecutively, one day will be added to your existing subscription.
  </li>
  <li>
    We highly recommend that you view the free courses before placing an order. By doing so, you can make sure that the course that you want to buy meets your expectations.
  </li>
</ul>

<div class="page-header">
  <h5>
    MEMBERSHIP RESTRICTIONS
  </h5>
</div>

<p>
  Each member to akshi.com e-learning website is granted a unique user ID and password which is used to gain access to the materials therein. Under NO circumstances whatsoever may any registered user share or distribute their user IDs or passwords to third parties. Any breach of this term will result in the immediate suspension of the account.
</p>

<p>
  Under NO circumstances whatsoever shall members distribute the courseware contained within this site. Each course is individually licensed and any member found in breach of this term shall have their account suspended immediately.
</p>

<div class="page-header">
  <h5>
    MINIMUM SYSTEM REQUIREMENTS
  </h5>
</div>

<p>
  Members are required to have installed the latest version of Microsoft Internet Explorer, Mozilla Firefox or Google Chrome.
</p>

<p>
  Members are required to have installed the latest version of Adobe Flash Plugin.
</p>

<p>
  The website is not guaranteed to work if the above requirements are not met.
</p>

<div class="page-header">
  <h5>
    GENERAL USE RESTRICTIONS
  </h5>
</div>

<p>
  All information, documents, products, software, and services (the "Materials") provided on this Website were provided by or to the akshi.com training website by their respective authors (the "Third Party Providers") and are the copyrighted work of the akshi.com website and/or the Third Party Providers. Except as stated herein, none of the Materials may be copied, reproduced, distributed or republished in any form or by any means, including, but not limited to, electronic, mechanical, photocopying, recording, or otherwise, without the prior express written permission of the akshi.com website or the Third Party Provider.
</p>

<p>
  No part of the Website, including logos, graphics, or images, may reproduced or retransmitted in any way, or by any means, without the prior express written permission of the akshi.com training website. You also may not, without the prior express written permission from the akshi.com website, "mirror" any Material contained on this Website on any other server.
</p>

<p>
  Nothing on this Website shall be construed as conferring any license or permission under any of the akshi.com website's or any Third Party Provider's intellectual property rights, whether by implication, or otherwise. You acknowledge sole responsibility for obtaining any such permission.
</p>

<p>
  Any unauthorized use of any Materials contained on this Website may violate copyright laws, trademark laws, the laws of privacy and publicity, and communications regulations and statutes.
</p>

<div class="page-header">
  <h5>
    THIRD PARTY CONTENT DISCLAIMER
  </h5>
</div>

<p>
  Courses provided by Third Party Providers have not been independently authenticated in whole or in part by the akshi.com website
</p>

<p>
  The akshi.com website is committed to respecting others' intellectual property rights, and we ask our users to do the same. the akshi.com website may, in its sole discretion, remove providers courses that may infringe or otherwise violate others' intellectual property rights.
</p>

<ul>
  <li>
    an electronic or physical signature of the person authorized to act on behalf of the copyright owner;
  </li>
  <li>
    a description of the copyrighted work that you claim has been infringed;
  </li>
  <li>
    a description of where the material that you claim is infringing is located on our Website;
  </li>
  <li>
    your address, telephone number, and email address so that we can contact you;
  </li>
  <li>
    a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
  </li>
  <li>
    a statement by you, made under penalty of perjury, that the information in your notice to us is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
  </li>
</ul>

<p>
  the akshi.com training website's Copyright Officer for notice of claims of copyright infringement on our Website can be reached by using the Contact Us link at the top of each page.
</p>

<div class="page-header">
  <h5>
    DISCLAIMER OF WARRANTY
  </h5>
</div>

<p>
  Unless otherwise explicity stated, the materials on the website are provided "as is", and are for registered members use only, and all express or implied conditions, representations and warranties, including any implied warranty of fitness for a particular purpose, or non-infringement, are disclaimed, except to the extent that such disclaimers are held to be legally invalid. The akshi.com website makes no representations, warranties, guaranties as to the quality, suitability, truth, accuracy or completeness of any of the courses contained on the akshi.com website . Any questions regarding the courses should be directed to the providers of such courses.
</p>

<div class="page-header">
  <h5>
    LIMITATION OF LIABILITY
  </h5>
</div>

<p>
  The akshi.com website shall not be liable for any damages suffered as a result of using, copying, distributing, or downloading the courses. In no event shall the akshi.com training website be liable for any indirect, punitive, special, incidental, or consequential damage (including loss of business, revenue, profits, use, data or other economic advantage) however it arises, whether for breach or in tort, even if the akshi.com website has been previously advised of the possibility of such damage.
</p>

<p>
  You have sole responsibility for adequate protection and backup of data and/or equipment used in connection with the website and will not make a claim against the akshi.com website for lost data, re-run time, inaccurate instruction, work delays or lost profits resulting from the use of the courses.
</p>

<p>
  You agree to hold the akshi.com website harmless from, and you covenant not to sue the akshi.com website for, any claims based on using the akshi.com training website.
</p>

<div class="page-header">
  <h5>GENERAL</h5>
</div>

<p>
  This Website could include inaccuracies or typographical errors. The akshi.com website and the Third Party Providers may make improvements and/or changes in the courses described in this Website at any time without notice. Changes are periodically made to the Website.
</p>

<p>
  These Terms represent the entire understanding relating to the use of the Website and prevail over any prior or contemporaneous, conflicting or additional, communications. The akshi.com website can revise these Terms at any time without notice by updating this posting.
</p>

